.body,
.button,
.input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.background {
  display: flex;
  min-height: 90vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 2px;
}

.contactPadding {
  flex: 0 1 700px;
  margin: auto;
  padding: 2px;
  padding: 200px 10px 10px 10px !important;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screenHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screenHeaderLeft {
  margin-right: auto;
}

.screenHeaderButton {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screenHeaderButton.close {
  background: rgb(222, 90, 83);
}

.screenHeaderButton.maximize {
  background: rgb(219, 190, 61);
}

.screenHeaderButton.minimize {
  background: rgb(126, 191, 63);
}

.screenHeaderRight {
  display: flex;
}

.screenHeaderEllipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screenBody {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screenBbodyItem.left {
  display: flex;
  flex-direction: column;
}

.appTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(222, 90, 83);
  font-size: 26px;
}

.appTitle:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 35px;
  height: 4px;
}

.appContact {
  margin-top: auto;
  font-size: 8px;
  color: #3e3e3e;
}

.appFormGroup {
  margin-bottom: 15px;
}

.app-FormGroup.message {
  margin-top: 40px;
}

.appFormGroup.buttons {
  margin-bottom: 0;
  text-align: right;
}

.appFormControl {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.appFormControl::placeholder {
  color: #666;
}

.appFormControl:focus {
  border-bottom-color: #ddd;
}

.appFormButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.appFormButton:hover {
  color: #999;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.screenBody {
  flex-direction: column;
  padding: 40px;
}

.screenBodyItem.left {
  margin-bottom: 30px;
}

.appTitle {
  flex-direction: row;
}

.appTitle span {
  margin-right: 12px;
}

.appTitle:after {
  display: none;
}

.screen {
  max-width: 800px;
}
.screenBodyItem {
  padding: 0;
}
