.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.containerPadding {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  padding: 200px 10px 50px 10px !important;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 5rem;
  height: 5rem;
}

.headerSImage {
  width: 3rem;
  height: 3rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
